$primary-color: #002b5b;
$secondary-color: #14539a;
$accent-color: #27d1f6;
$text-light: #f5f5f5;
$text-dark: #1a1a1a;
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

.heroSection {
    background-color: #02142c;
    background-image:
        url('../../../public/images/image2.png'), url("../../../public/images/image1.png");
    background-position: top left, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 200px, 400px;
    color: $text-light;
    padding: 100px 20px;
    text-align: center;

    .contentWrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .heroText {
            max-width: 50%;

            h1 {
                font-size: 48px;
                margin-bottom: 20px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            p {
                font-size: 18px;
                line-height: 1.6;
            }
        }

        .heroImage {
            max-width: 40%;
            animation: bounce 2s infinite;
        }
    }
}

.contactMainHeader {
    h2 {
        color: #27d1f6;
        font-size: 24px;
    }
}

.contactMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 20px;

    .contactCard {
        flex: 1;
        margin: 20px;
        background: $secondary-color;
        color: $text-light;
        padding: 20px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        text-align: left;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                justify-content: left;
                text-align: left;
                align-items: center;
                margin-bottom: 15px;
                font-size: 18px;

                .contactUsImages {
                    background: white;
                    text-align: center;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                }

                span {
                    line-height: 1.8;
                }
            }
        }
    }

    .contactFormContainer {
        flex: 1.5;
        margin: 20px;
        padding: 20px;
        background: $text-light;
        border-radius: 10px;
        box-shadow: $box-shadow;
        text-align: left;

        .contactForm {
            .formGroup {
                margin-bottom: 20px;

                input,
                textarea {
                    width: 92%;
                    padding: 10px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    font-size: 16px;

                    &:focus {
                        border-color: $accent-color;
                        box-shadow: 0 0 5px $accent-color;
                    }
                }
            }

            .submitButton {
                width: 95%;
                padding: 10px;
                background: $accent-color;
                color: $text-light;
                font-size: 18px;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background: darken($accent-color, 10%);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .heroSection .contentWrapper {
        flex-direction: column;

        .heroText,
        .heroImage {
            max-width: 100%;
        }
    }

    .contactMain {
        flex-direction: column;
    }
}