.container {
    background-color: #05223e;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
  
    .contentWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
    }
  
    .logoSection,
    .usefulLinksSection,
    .servicesSectionList,
    .contactUsSection {
      flex: 1;
      margin: 10px;
      min-width: 250px;
  
      .sectionTitle {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      .link {
        display: block;
        color: white;
        text-decoration: none;
        margin: 5px 0;
  
        &:hover {
          text-decoration: underline;
        }
      }
      .contactItem {
        .contactText {
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }
    }
  
    .logoImage {
      position: initial;
      height: 100px;
    }
  
    .divider {
      margin: 20px auto;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  
    .footerText {
      text-align: center;
      padding: 10px 0;
    }
  
    @media (max-width: 768px) {
      .contentWrapper {
        flex-direction: column;
        align-items: center;
      }
  
      .logoSection,
      .usefulLinksSection,
      .servicesSectionList,
      .contactUsSection {
        text-align: center;
      }
    }
  }
  